{{!-- Head --}}
<title>Employee List</title>
{{!-- Body --}}

<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row g-4 mb-4">
            <!-- Total employee= Admin + Employee -->
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Session</span>
                                <div class="d-flex align-items-end mt-2">
                                    <h4 class="mb-0 me-2">{{count}}</h4>
                                </div>
                                <p class="mb-0">Total Employees</p>
                            </div>
                            <div class="avatar">
                                <span class="avatar-initial rounded bg-label-primary">
                                    <i class="bx bx-user bx-sm"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- employees List Table -->
        <div class="card">
            <!-- Search -->
            <div class="card-header border-bottom">
                <h5 class="card-title">Employee List</h5>
            </div>
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="row mx-2 p-2">
                        <div class="col-md-12">
                            <div
                                class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0">
                                <!-- Filter Status -->
                                <div class="col-md-6 user_status me-2">
                                    <select id="Status" class="form-select text-capitalize">
                                        <option value=""> Select Status </option>
                                        <option value="new employee" class="text-capitalize">New Employee</option>
                                        <option value="active" class="text-capitalize">Active</option>
                                        <option value="inactive" class="text-capitalize">Inactive</option>
                                    </select>
                                </div>
                                <!-- Search by name -->
                                <div id="DataTables_Table_0_filter" class="dataTables_filter  me-2">
                                    <label>
                                        <input type="search" class="form-control" placeholder="Search.."
                                            aria-controls="DataTables_Table_0" oninput="searchEmployee(this.value)">
                                    </label>
                                </div>
                                <!-- Add new -->
                                <button class="dt-button add-new btn btn-primary me-2" tabindex="0"
                                    aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasAddUser"><span><span class="d-none d-sm-inline-block">Add
                                            New
                                            Employee</span></span>
                                </button>
                                <!-- Export button -->
                                <div class="dt-buttons">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Export
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a id="printButton" class="bx bx-printer dropdown-item"
                                                href="javascript:void(0);"> Print</a></li>
                                        <li><a id="generateCSVButton" class="bx bx-file dropdown-item"
                                                href="javascript:void(0);"> CSV</a></li>
                                        <li><a id="generatePdfButton" class="bx bxs-file-pdf dropdown-item"
                                                href="javascript:void(0);"> PDF</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table List Employee-->

                    <div style="height: 400px; overflow-y: scroll;">
                        <table class="datatables-users table border-top dataTable no-footer dtr-column mb-3"
                            id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 1288px;">
                            <thead>
                                <tr>
                                    <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1"
                                        style="width: 0px; display: none;" aria-label=""></th>
                                    <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0"
                                        rowspan="1" colspan="1" style="width: 324px;"
                                        aria-label="User: activate to sort column ascending" aria-sort="descending">
                                        Employee
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                        colspan="1" style="width: 160px;"
                                        aria-label="Role: activate to sort column ascending">Role</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                        colspan="1" style="width: 103px;"
                                        aria-label="Status: activate to sort column ascending">Status</th>
                                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 131px;"
                                        aria-label="Actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each employees}}
                                <tr id="tr{{aid}}">
                                    <td class="control" tabindex="0" style="display: none;"></td>
                                    <td class="sorting_1">
                                        <div class="d-flex justify-content-start align-items-center user-name">
                                            <!-- Full Name -->
                                            <div class="d-flex flex-column">
                                                <a href="/employees/employee-detail/{{aid}}"
                                                    class="text-body text-truncate">
                                                    <span class="fw-medium" id="full_name">{{fullname}}</span>
                                                </a>
                                                <!-- Email -->
                                                <small class="text-muted">{{email}}</small>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- Role -->
                                    <td>
                                        <span class="text-truncate d-flex align-items-center">
                                            <span
                                                class="badge badge-center rounded-pill bg-label-secondary w-px-30 h-px-30 me-2">
                                                <i class="bx bx-mobile-alt bx-xs"></i>
                                            </span>Employee
                                        </span>
                                    </td>
                                    <!-- Status -->
                                    <td>
                                        <span class="badge bg-label-success">{{status}}</span>
                                    </td>
                                    {{!-- Action --}}
                                    <td>
                                        <div class="d-inline-block text-nowrap">

                                            <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded me-2"></i>
                                            </button>
                                            {{#eq status 'New Employee'}}
                                            <div class="dropdown-menu dropdown-menu-end m-0">
                                                <a href="/employees/employee-detail/{{aid}}"
                                                    class="dropdown-item">View</a>
                                            </div>
                                            {{else}}
                                            <div class="dropdown-menu dropdown-menu-end m-0">
                                                <a href="/employees/employee-detail/{{aid}}"
                                                    class="dropdown-item">View</a>
                                                <a onclick="editStatusAccount(event, {{aid}})"
                                                    class="dropdown-item">Lock/Unlock account</a>
                                            </div>
                                            {{/eq}}
                                            {{!-- Send Link Activate Account --}}
                                            {{#eq status 'New Employee'}}
                                            <button class="btn btn-sm btn-icon" onclick="resendLink({{aid}})">
                                                <i class="bx bx-send"></i>
                                            </button>
                                            {{/eq}}
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="row mx-2">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                Showing {{count}} entries</div>
                        </div>
                    </div>

                    <!-- Table to Print, Export-->
                    <table id="printTableContainer" style="display: none;" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Employee</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each employees}}
                            <tr>
                                <td>{{fullname}}</td>
                                <td>{{email}}</td>
                                <td>Employee</td>
                                <td>{{status}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Add new employee Form -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddUser"
                aria-labelledby="offcanvasAddUserLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add Employee</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body mx-0 flex-grow-0">
                    <form class="add-new-user pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="addNewUserForm"
                        method="POST" action="/employees/add-employee">
                        <!-- Full name -->
                        <div class="mb-3 fv-plugins-icon-container">
                            <label class="form-label" for="add-user-fullname">Full Name</label>
                            <input type="text" class="form-control" id="add-user-fullname" placeholder="Enter full name"
                                name="fullname">
                            <div
                                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            </div>
                        </div>
                        <!-- Gmail -->
                        <div class="mb-3 fv-plugins-icon-container">
                            <label class="form-label" for="add-user-email">Email</label>
                            <input type="email" id="add-user-email" class="form-control" placeholder="Enter email"
                                name="email">
                            <div
                                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Submit</button>
                        <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                        <input type="hidden">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="content-backdrop fade"></div>

    {{!-- MODAL CHANGE STATUS ACCOUNT --}}
    <div class="modal" tabindex="-1" role="dialog" id="updateModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lock/Unlock Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="aid" />
                    <p>Do you want to Lock/Unlock <b id="aname"></b>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="changeStatus()">Lock/Unlock</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    // print the table
    document.getElementById("printButton").addEventListener("click", function () {
        let tableHtml = document.getElementById("printTableContainer").outerHTML;
        tableHtml = tableHtml.replace('style="display: none;"', '');
        let html = `<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                        <h3 class="text-center">Employee List</h3>
                        ${tableHtml}`
        let newWindow = window.open("about:blank", "_blank");
        newWindow.document.write(html);
        newWindow.document.close();
        setTimeout(function () {
            newWindow.print();
            newWindow.close();
        }, 1000);
    });

    //export file pdf
    document.getElementById("generatePdfButton").addEventListener("click", function () {
        var pdf = new jsPDF();
        var tableHtml = document.getElementById("printTableContainer").outerHTML;
        tableHtml = tableHtml.replace('style="display: none;"', '');
        let html = `<h3 class="text-center"> Employee List </h3> ${tableHtml}`
        html2pdf().from(html).save();
    });

    // export file csv 
    document.getElementById("generateCSVButton").addEventListener("click", function () {
        // Variable to store the final csv data
        var csv_data = [];
        // Get each row data
        var tableHtml = document.getElementById("printTableContainer")
        var rows = tableHtml.getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {
            // Get each column data
            var cols = rows[i].querySelectorAll('td,th');
            // Stores each csv row data
            var csvrow = [];
            for (var j = 0; j < cols.length; j++) {
                csvrow.push(cols[j].innerHTML);
            }
            csv_data.push(csvrow.join(","));
        }
        csv_data = csv_data.join('\n');
        downloadCSVFile(csv_data);
    })

    function downloadCSVFile(csv_data) {
        CSVFile = new Blob([csv_data], {
            type: "text/csv"
        });
        var temp_link = document.createElement('a');
        // Download csv file
        temp_link.download = "file.csv";
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to download
        temp_link.click();
        document.body.removeChild(temp_link);
    }

    // Add event listener to the "Status" select element
    const statusSelect = document.getElementById('Status');
    statusSelect.addEventListener('change', filterTableByRole);

    // Function to filter the table based on the selected role
    function filterTableByRole() {
        const selectedRole = statusSelect.value; // Get the selected option value

        // Get all table rows in the tbody
        const tableBody = document.querySelector('#DataTables_Table_0 tbody');
        const rows = tableBody.querySelectorAll('tr');

        // Loop through each row and check if the role matches the selected option
        rows.forEach(row => {
            const roleCell = row.querySelector('td:nth-child(4)'); // Get the role cell

            console.log()
            // Show or hide the row based on the role match
            if (selectedRole === '' || roleCell.textContent.toLowerCase().trim() == selectedRole.toLowerCase().trim()) {
                row.style.display = ''; // Show the row
            }
            else {
                row.style.display = 'none'; // Hide the row
            }
        });
    }

    function searchEmployee(searchValue) {
        const rows = document.querySelectorAll('#DataTables_Table_0 tbody tr');

        rows.forEach(row => {
            const fullnameElement = row.querySelector('.user-name .fw-medium');
            const fullname = fullnameElement.textContent.toLowerCase();

            if (fullname.includes(searchValue.toLowerCase())) {
                row.style.display = ''; // Show the row
            } else {
                row.style.display = 'none'; // Hide the row
            }
        });
    }

    function editStatusAccount(event, aid) {
        event.preventDefault()
        $('#aid').val(aid)
        let name = $($('#tr' + aid + ' td')[1]).find('span#full_name').text();
        $('#aname').text(name)
        $('#updateModal').modal('show');
    }

    function closeModal() {
        $('#updateModal').modal('hide');
    }

    function changeStatus() {
        let aid = $('#aid').val();
        closeModal()
        if (!aid) { return }

        $.ajax({
            url: '/employees/change-status/' + aid,
            type: 'POST',
            success: function (response) {
                location.reload();
            },
            error: function (error) {
                console.error('Error updating status of account:', error);
            }
        });
    }

    //resend link
    function resendLink(aid){
        $.ajax({
            url: '/employees/resend-link/' + aid,
            type: 'POST',
            success: function (response) {
                location.reload();
            },
            error: function (error) {
                console.error('Error sending link activation:', error);
            }
        })
    }

    // Get a reference to the form element
    const form = document.getElementById('addNewUserForm');

    // Add a submit event listener to the form
    form.addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the form from submitting

        // Validate the form inputs
        if (validateForm()) {
            // If the form inputs are valid, submit the form
            form.submit();
        }
    });

    // Function to validate the form inputs
    function validateForm() {
        // Get the form inputs
        const fullnameInput = document.getElementById('add-user-fullname');
        const emailInput = document.getElementById('add-user-email');

        // Flag to track the form validation status
        let isValid = true;

        // Validate the full name input
        if (fullnameInput.value.trim() === '') {
            // Add an error class to the input field
            fullnameInput.classList.add('is-invalid');

            // Set the error message
            const fullnameError = fullnameInput.nextElementSibling;
            fullnameError.textContent = 'Please enter full name';

            isValid = false; // Set the flag to false
        } else {
            // Remove the error class and message
            fullnameInput.classList.remove('is-invalid');
            const fullnameError = fullnameInput.nextElementSibling;
            fullnameError.textContent = '';
        }

        // Validate the email input
        if (emailInput.value.trim() === '') {
            // Add an error class to the input field
            emailInput.classList.add('is-invalid');

            // Set the error message
            const emailError = emailInput.nextElementSibling;
            emailError.textContent = 'Please enter email';

            isValid = false; // Set the flag to false
        } else {
            // Remove the error class and message
            emailInput.classList.remove('is-invalid');
            const emailError = emailInput.nextElementSibling;
            emailError.textContent = '';
        }

        return isValid; // Return the form validation status
    }
</script>